<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/"><fa-icon [icon]="['fas', 'store']" size="2x"></fa-icon></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Shopping Cart</a>
        </li>
        <ng-template #anonymousUser>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ng-template>
        <li ngbDropdown class="nav-item" *ngIf="user$ | async as user; else anonymousUser">
          <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle class="nav-link dropdown-toggle">{{ user.displayName }}</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
            <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
            <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
</nav>